@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the @ViewBag.Environment Environment!</h1>
    <p>This is a simple ASP.NET Core application for testing Blue-Green Deployment.</p>
</div>
